// Primary navigation styles - both 'desktop' and 'mobile' views
// --------------------------------------------------------------------------

// Hide the menu on mobile, show on desktop.
.primary-menu {
	display: none;
	position: relative;

	@include kp-mq(sm) {
		display: block;
	}

	// Show the menu on mobile if toggled.
	.toggled & {
		@include kp-mq(sm-max) {
			display: block;
		}
	}
	// Show sub-menu on hover/focus of a top tier menu item
	& > li.menu-item-has-children {
		@include kp-on-event {
			.sub-menu {
				display: block;
				left: 0;
				position: absolute;
				top: 100%;
			}
		}
	}
}

.sub-menu {
	display: none;
}

// Show the menu toggle on mobile.
.menu-toggle {
	display: inline-block;

	@include kp-mq(sm) {
		display: none;
	}
}
