// Splash styles
// --------------------------------------------------------------------------

.splash {
	text-align: center;
}

.splash-title {
	font-size: 6rem;
}

.splash-strapline {
	font-size: 1.5rem;
	line-height: 1.5em;
}
