a {
	&:active,
	&:hover {
		outline: 0;
	}

	img {
		// Death to anchor borders in IE
		border: 0;
	}
}

a,
button,
[type="reset"],
[type="submit"] {
	cursor: pointer;
	transition: background-color ease-in-out 0.3s, border-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

abbr {}

abbr,
acronym {
	cursor: help;
}

address {
	margin: 0 0 kp-rem(24px);
}

article {}

audio {}

// Prevents gap at the bottom of the element
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

b {}

blockquote {
	margin: 0 kp-rem(24px);

	p + p {
		margin-top: 0;
	}
}

// Set sensible quotation marks
blockquote,
q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

br {}

button {}

caption {}

cite {}

code {}

col {}

colgroup {}

datalist {}

dd {
	margin: 0 0 kp-rem(10px);
}

del {}

dfn {}

div {}

dl {}

dl,
ol,
ul {
	margin: kp-rem(24px) 0;
}

dt {}

em {}

embed {}

embed,
iframe,
object,
pre {
	margin: kp-rem(24px) auto;
	// Keep the contents inside the container
	max-width: 100%;
}

fieldset {
	// Reset spacing
	border: 0;
	margin: 0;
	padding: 0;
}

figcaption {}

figure {
	margin: kp-rem(8px) 0;
	padding: kp-rem(8px);
}

footer {}

form {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: kp-rem(8px) 0 kp-rem(16px);
}

header {}

hr {
	// Make the HR look better by default
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $kp-colour--grey-light;
	margin: kp-rem(24px) 0;
	padding: 0;
}

html {
	// Everything inherits from <html>
	box-sizing: border-box;
}

i {}

iframe {}

img {
	// Make them responsive
	height: auto;
	max-width: 100%;

	figure & {
		margin-bottom: 0;
		margin-top: 0;
	}
}

input {}

[type="tel"],
[type="text"],
[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="url"],
textarea {
	transition: background-color ease-in-out 0.3s, border-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

input,
textarea {
	margin-bottom: kp-rem(5px);
	margin-top: kp-rem(5px);
}

ins {}

kbd {}

label {
	cursor: pointer;
}

legend {
	padding: 0;
}

li {
	> ol,
	> ul {
		margin-bottom: 0;
		margin-left: kp-rem(10px);
	}
}

main {}

mark {}

nav {}

object {}

ol {
	list-style: decimal;

	ol,
	ul {
		margin-bottom: kp-rem(10px);
		margin-top: kp-rem(10px);
	}
}

optgroup {}

option {}

p {
	margin-bottom: kp-rem(24px);
}

q {}

param {}

pre {
	background-color: $kp-colour-content--pre-bg;
	margin: kp-rem(24px);
	overflow: auto;
	padding: kp-rem(24px);
}

s {}

section {}

select {
	max-width: 100%;
}

small {}

source {}

span {}

strong {}

sub {}

sup {}

svg {}

table {
	margin-bottom: kp-rem(24px);
	max-width: 100%;
	width: 100%;
}

tbody {}

td {}

textarea {
	// Allow vertical resizing only
	resize: vertical;
	width: 100%;
}

tfoot {}

th {}

thead {}

time {}

tr {}

tt {}

u {}

ul {
	list-style-type: square;

	ol,
	ul {
		margin-bottom: kp-rem(10px);
		margin-top: kp-rem(10px);
	}
}

var {}

video {}
