// @font-face declarations
// -----------------------------------------------------------------------------

@font-face {
	font-family: 'Bangers';
	src: url("assets/fonts/Bangers.eot"); /* IE9 Compat Modes */
	src: url("assets/fonts/Bangers.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Bangers.woff") format("woff"), url("assets/fonts/Bangers.ttf") format("truetype"), url("assets/fonts/Bangers.svg#e2cd9319c3b89bc48c5bfb8067cf1d2d") format("svg"); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}


@font-face {
	font-family: 'Helsinki';
	src: url("assets/fonts/helsinki.eot"); /* IE9 Compat Modes */
	src: url("assets/fonts/helsinki.eot?#iefix") format("embedded-opentype"), url("assets/fonts/helsinki.woff") format("woff"), url("assets/fonts/helsinki.ttf") format("truetype"), url("assets/fonts/helsinki.svg#8449280a23f8c4fcfb13469f6dc19592") format("svg"); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}
