// Footer region styles
// -----------------------------------------------------------------------------

[role="contentinfo"] {
	text-align: center;

	p + p {
		margin-bottom: 0;
	}

	a {
		font-size: $kp-font-size--small;
	}
}
